{% extends 'orders/base.html' %}
{% load static %} 

{% block content %}
<div class="container">
    <h2>Build Your Pizza</h2>
    <form method="post">
        {% csrf_token %}
        
        <label for="{{ form.size.id_for_label }}">Size:</label>
        {{ form.size }}
        
        <label for="{{ form.crust.id_for_label }}">Crust:</label>
        {{ form.crust }}
        
        <label for="{{ form.sauce.id_for_label }}">Sauce:</label>
        {{ form.sauce }}
        
        <label for="{{ form.cheese.id_for_label }}">Cheese:</label>
        {{ form.cheese }}
        
        <label>Toppings:</label>
        {% for checkbox in form.toppings %}
            <div>{{ checkbox }}</div>
        {% endfor %}
        
        <button type="submit">Next</button>
    </form>
</div>
{% endblock %}
