{% extends 'orders/base.html' %}
{% load static %}  

{% block content %}
<div class="container text-center">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        
        <label for="id_username">Email:</label>
        {{ form.username }}
        
        <label for="id_password">Password:</label>
        {{ form.password }}
        
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
</div>
{% endblock %}
