{% extends 'orders/base.html' %}
{% load static %}  

{% block content %}
<div class="container text-center">
    <h2>Your Past Orders</h2>

    {% if orders %}
        <div>
            {% for order in orders|dictsortreversed:"id" %}
                <div>
                    <h4>Order #{{ order.id }}</h4>
                    <p><strong>Placed on:</strong> {{ order.timestamp|date:"F j, Y, g:i a" }}</p>
                    <hr>

                    <div>
                        <p><strong>Size:</strong> {{ order.pizza.size.name }}</p>
                        <p><strong>Sauce:</strong> {{ order.pizza.sauce.name }}</p>
                        <p><strong>Cheese:</strong> {{ order.pizza.cheese.name }}</p>
                        <p><strong>Crust:</strong> {{ order.pizza.crust.name }}</p>
                        <p><strong>Toppings:</strong> 
                            {% for topping in order.pizza.toppings.all %}
                                {{ topping.name }}{% if not forloop.last %}, {% endif %}
                            {% empty %}
                                No Toppings
                            {% endfor %}
                        </p>
                    </div>
                    <a href="{% url 'order_again' order.id %}">Order Again</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>You have no past orders.</p>
    {% endif %}
</div>
{% endblock %}
